{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>학생 지원서 정보</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   <body>
      <header>
         <h1>
            <a href="{% url 'Appview' %}">총 지원자 수 : {{ student_stat.all }}명</a><br>
            <a href="{% url 'Frontview' %}">프론트엔드 지원자 수 : {{ student_stat.frontends }}명</a><br>
            <a href="{% url 'Backview' %}">백엔드 지원자 수 : {{ student_stat.backends }}명</a><br>
         </h1>
      </header>
      <main>
         {% for student in student_data %}
         <section>
            <table>
               <tr>
                  <th>이름</th>
                  <td>{{ student.name }}</td>
                  <th>전공</th>
                  <td>{{ student.major }}</td>
                  <th>학번</th>
                  <td>{{ student.student_num }}</td>
               </tr>
               <tr>
                  <th>학기</th>
                  <td>{{ student.semester }}</td>
                  <th>ID</th>
                  <td>{{ student.id }}</td>
                  <th>가입날짜</th>
                  <td>{{ student.created_at }}</td>
               </tr>
               <tr>
                  <th>핸드폰 번호</th>
                  <td>{{ student.phone_num }}</td>
                  <th>포지션</th>
                  <td>{{ student.position }}</td>
                  <th>깃허브</th>
                  <td colspan="3">{{ student.github }}</td>
               </tr>
               <tr>
                  <th class="question" colspan="6">1. 다양한 IT동아리 중에서 멋쟁이사자처럼 대학 11기를 선택하고 지원하시게 된 이유를 작성해주세요. (500자 이내)</th>
               </tr>
               <tr height="100">
                  <td class="question" colspan="6">{{ student.app1 }} ({{ student.app1|length }}자)</td>
               </tr>
               <tr>
                  <th class="question" colspan="6">2. 파트를 선택한 이유와 관련 경험을 해본 적이 있는지, 그리고 파트를 통해 어떠한 성장을 희망하시는지 작성해주세요. (500자 이내)</th>
               </tr>
               <tr height="100">
                  <td class="question" colspan="6">{{ student.app2 }} ({{ student.app2|length }}자)</td>
               </tr>
               <tr>
                  <th class="question" colspan="6">3. 멋쟁이사자처럼 대학은 협업과 팀워크를 중요한 가치로 생각하는 공동체입니다. 지원자 본인이 협업과 팀워크를 진행해보았던 경험과, 그 경험을 멋쟁이 사자처럼 대학에서 어떻게 적용시킬 수 있을지 작성해주세요. (500자 이내)</th>
               </tr>
               <tr height="100">
                  <td class="question" colspan="6">{{ student.app3 }} ({{ student.app3|length }}자)</td>
               </tr>
               <tr>
                  <th class="question" colspan="6">4. 멋쟁이사자처럼 대학은 최소 주 2회 모임(월요일&수요일 6시30분~9시)과 이외에도 추가 공부시간이 필요합니다. 활동 기간동안 얼마나 열정적으로, 매주 얼만큼의 시간을 할애하실 수 있는지 작성해주세요. (500자 이내)</th>
               </tr>
               <tr height="100">
                  <td class="question" colspan="6">{{ student.app4 }} ({{ student.app4|length }}자)</td>
               </tr>
            </table>
         </section>
         {% endfor %}
      </main>
   </body>
</html>